<style>
    .grid_row {
        display: flex;
        align-items: center;
    }

    .content {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
</style>




<div class="grid">
    <div class="grid_row">
        <div class="content">
            <a href="" class="Button">{{btnTypes "button"}}</a>
        </div>
        <div class="content">
            <a href="" class="Button Second">{{btnTypes "second"}}</a>
        </div>
        <div class="content">
            <a href="" class="Button Third">{{btnTypes "third"}}</a>
        </div>
        <div class="content">
            <a href="" class="Button {{btnTypes "link"}}">{{btnTypes "link"}}</a>
        </div>
    </div>
    <hr>
    <div class="grid_row">
        <div class="content">
            <a disabled="disabled" href="#" class="Button">{{btnTypes "button"}}</a>
        </div>
        <div class="content">
            <a disabled href="#" class="Button Second">{{btnTypes "second"}}</a>
        </div>
        <div class="content">
            <a disabled="disabled" href="#" class="Button Third">{{btnTypes "third"}}</a>
        </div>
        <div class="content">
            <a disabled href="#" class="Button Link">{{btnTypes "link"}}</a>
        </div>
    </div>
    <hr>
    <div class="grid_row">
        <div class="content">
            <a disabled="disabled" href="#" class="Button">{{btnTypes "button"}}</a>
        </div>
        <div class="content">
            <a disabled href="#" class="Button Second">{{btnTypes "second"}}</a>
        </div>
        <div class="content">
            <a disabled="disabled" href="#" class="Button Third">{{btnTypes "third"}}</a>
        </div>
        <div class="content">
            <a disabled href="#" class="Button Link">{{btnTypes "link"}}</a>
        </div>
    </div>
    <hr>
    <div class="grid_row">
        <div class="content">
            <a href="#" class="Button Small">{{btnTypes "button"}}</a>
        </div>
        <div class="content">
            <a href="#" class="Button Second Small">{{btnTypes "second"}}</a>
        </div>
        <div class="content">
            <a href="#" class="Button Third Small">{{btnTypes "third"}}</a>
        </div>
        <div class="content">
            <a href="#" class="Button Small Cancel">{{btnTypes "cancel"}}</a>
        </div>
    </div>
    <hr>
    <div class="grid_row">
        <div class="content">
            <a href="#" class="Button Big">{{btnTypes "button"}}</a>
        </div>
        <div class="content">
            <a href="#" class="Button Third Big">{{btnTypes "third"}}</a>
        </div>
        <div class="content">
            <a href="#" class="Button XBig">{{btnTypes "button"}}</a>
        </div>
        <div class="content">
            <a href="#" class="Button Third XBig">{{btnTypes "link"}}</a>
        </div>
    </div>
    <hr>
    <div class="grid_row">
        <div class="content">
            <a href="#" class="Button twoLines DoctorUnit">{{btnTypes "button"}}</a>
        </div>
        <div class="content">
            <a href="#" class="Button Second twoLines DoctorUnit">{{btnTypes "second"}}</a>
        </div>
        <div class="content">
            <a href="#" class="Button Third twoLines DoctorUnit">{{btnTypes "third"}}</a>
        </div>
        <div class="content">
            <a class="Button Second SearchMagnifier">{{btnTypes "link"}}</a>
        </div>
    </div>
</div>
