<style>
	.title {
      margin-bottom: 10px;
    }

    .hrHeadings {
      margin: 50px 0;
    }
</style>

<div>
	<div class='Heading1'>
		<div class='title'>
			Heading1
		</div>
		<div>
			{{lorem 3}}
		</div>
	</div>
	<hr class='hrHeadings' />
	<div class='Heading2'>
		<div class='title'>
			Heading2
		</div>
		<div>
			{{lorem 3}}
		</div>
	</div>
	<hr class='hrHeadings' />
	<div class='Heading3'>
		<div class='title'>
			Heading3
		</div>
		<div>
			{{lorem 3}}
		</div>
	</div>
	<hr class='hrHeadings' />
	<div class='Heading4'>
		<div class='title'>
			Heading4
		</div>
		<div>
			{{lorem 3}}
		</div>
	</div>
	<hr class='hrHeadings' />
	<div class='Heading5'>
		<div class='title'>
			Heading5
		</div>
		<div>
			{{lorem 3}}
		</div>
	</div>
	<hr class='hrHeadings' />
	<div class='Text_large'>
		<div class='title'>
			Text_large
		</div>
		<div>
			{{lorem 3}}
		</div>
	</div>
	<hr class='hrHeadings' />
	<div class='Bold'>
		<div class='title'>
			Bold
		</div>
		<div>
			{{lorem 3}}
		</div>
	</div>
	<hr class='hrHeadings' />
	<div class='Italic'>
		<div class='title'>
			Italic
		</div>
		<div>
			{{lorem 3}}
		</div>
	</div>
	<hr class='hrHeadings' />
	<div class='Text_uppercase'>
		<div class='title'>
			Text_uppercase
		</div>
		<div>
			{{lorem 3}}
		</div>
	</div>
	<hr class='hrHeadings' />
	<div class='Underline'>
		<div class='title'>
			Underline
		</div>
		<div>
			{{lorem 3}}
		</div>
	</div>
	<hr class='hrHeadings' />
	<div class='LineThrough'>
		<div class='title'>
			LineThrough
		</div>
		<div>
			{{lorem 3}}
		</div>
	</div>
	<hr class='hrHeadings' />
	<div class='Text_overflow'>
		<div class='title'>
			Text_overflow
		</div>
		<div>
			{{lorem 3}}
		</div>
	</div>
	<hr class='hrHeadings' />
	<div class='Text_Note'>
		<div class='title'>
			Text_Note
		</div>
		<div>
			{{lorem 3}}
		</div>
	</div>
	<hr class='hrHeadings' />
	<div class='Note'>
		<div class='title'>
			Note
		</div>
		<div>
			{{lorem 3}}
		</div>
	</div>
	<hr class='hrHeadings' />
	<div class='Text_small'>
		<div class='title'>
			Text_small
		</div>
		<div>
			{{lorem 3}}
		</div>
	</div>
	<hr class='hrHeadings' />
	<div class='Text_Error'>
		<div class='title'>
			Text_Error
		</div>
		<div>
			{{lorem 3}}
		</div>
	</div>
</div>